:root{
    /* COLOR VARIABLES */

    /* SILVER BLUE */
    --background-light: #E8EEF1;
    --background-medium: #43B0F1;
    --background-dark: #057DCD;
    --foreground-light: #fcfcfc;
    --foreground-dark: #1E3D58;
    --highlight: #057DCD;
    /* ROSE GOLD - meh */
    /*--background-medium: #B76E79;
    --background-dark: #68343B;
    --foreground: #FADCD9;
    --highlight: #24456A; */

    /* MEASUREMENT VARIABLES */
    --card-size: 18rem;
    --viewport-width: calc(100vw - (100vw - 100%));

    /* FONT SIZES */
    --xs-font: 1rem;
    --s-font: 1.4rem;
    --m-font: 1.8rem;
    --l-font: 2.2rem; 
    --xl-font: 2.6rem;
}


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


body {
    background: var(--background-light);
    color: var(--foreground-light);
    font-family: 'EB Garamond', serif;
    font-size: 62.5%;
    width: var(--viewport-width);
}


/* HEADER */


header.header-container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 6rem;
    padding-top: 6rem;
    position: relative;
}


header.header-container > h2 {
    font-size: var(--xl-font);
    font-weight: 500;
    padding-right: 2rem;
}


header.header-container > h2 > br.responsive-break {
    display: none;
}


header.header-container > h2 > small {
    font-size: calc(var(--xl-font) - 1.5rem);
    padding-left: 1rem;
}


header.header-container > div.rule {
    border-right: 1px solid var(--foreground-light);
    height: 4.2rem;
}


header.header-container > ul {
    display: flex;
    flex-flow: column nowrap;
    font-size: var(--xs-font);
    padding-left: 2rem;
}


header.header-container > ul > li:first-of-type {
    font-size: calc(var(--xs-font) + 0.1rem);
    font-weight: 500;
}


header.header-container > ul > li {
    line-height: 1.5rem;
    text-align: left;
}


/* CURVED HEADER BACKGROUND */


header::before { 
    content: '';
    background: linear-gradient(var(--background-medium) 50%, var(--background-dark));
    border-radius: 0 0 var(--viewport-width) var(--viewport-width);
    height: 200%;
    position: absolute;
    top: calc( -1 * var(--viewport-width));
    left: calc( -1 * var(--viewport-width) / 2);
    width: calc(var(--viewport-width) * 2);
    z-index: -1;
}


@media screen and (max-width: 670px) {
    header.header-container {
        flex-flow: column nowrap;
        padding: 1.2rem 0;
        width: var(--viewport-width);
    }


    header.header-container > h2 {
        border-bottom: 1px solid var(--foreground-light);
        padding: 3rem 0 1.2rem 0;
        text-align: center;
        width: fit-content;
    }


    header > h2 > small {
        margin: -0.7rem;
        padding: 0;
    }


    header.header-container > ul {
        align-items: center;
        font-size: var(--xs-font);
        padding: 1.2rem 0;
        width: var(--viewport-width);
    }


    header.header-container > ul > li {
        line-height: 1.2rem;
    }


    header.header-container > div.rule {
        display: none;
    }
}


@media screen and (max-width: 400px) {
    header > h2 {
        font-size: calc(var(--xl-font) - 0.2rem);
        padding-right: 0;
    }


    header.header-container > h2 > br.responsive-break {
        display:inline;
    }
}


/* TITLE */


.title {
    color: var(--foreground-dark);
    font-size: var(--xl-font);
    font-weight: 600;
    padding: 4rem;
    text-align: center;
}


/* INTRO */

 
.intro-container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 10rem;
    width: var(--viewport-width);
}


.intro {
    align-items: center;
    color: var(--foreground-dark);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: var(--viewport-width);
}

.intro:last-of-type {
    padding-bottom: 10rem;
    padding-top: 10rem;
}


.intro:last-of-type > img {
    width: 25rem;
}


.intro > h1 ,
.intro > h2 {
    font-size: var(--l-font);
    width: calc(var(--viewport-width) - 70%);
}


.intro > h1 > b {
    color: var(--highlight);
    font-weight: 500;
}


.intro > img {
    max-width: 80vw;
    width: 35rem;
}


@media screen and (max-width: 800px) {
    .intro-container {
        padding-top: 5rem;
    }
    .intro {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        width: var(--viewport-width);
    }


    .intro > h1,
    .intro > h2 {
        padding-top: 3rem;
        width: calc(var(--viewport-width) - 40%);
    }


    .intro:last-of-type {
        padding-top: 5rem;
        flex-direction: column-reverse;
    }
}


@media screen and (max-width: 500px) {
    .intro > h1 ,
    .intro > h2 {
        font-size: var(--m-font);
        width: 98vw;
    }
}

/* CARDS */


.card-container {
    align-items: center;
    background: linear-gradient(45deg, var(--background-medium), var(--background-light));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden; /*todo remove later */
    padding: 6rem 0;
    width: var(--viewport-width); 
}


.card-title {
    align-items: center;
    color: var(--foreground-dark);
    display: flex;
    font-size: var(--xl-font);
    font-weight: 500;
    justify-self: center;
    margin: 0 auto;
    max-width: 50rem;
    min-width: 20rem;
    padding-bottom: 6rem;
    text-align: left;
    width: 50vw;
}


.card-grid {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height: max-content;
    justify-content: space-evenly;
    max-width: 130rem;
    width: var(--viewport-width);
}


.card-frame {
    border-radius: 5rem 5rem 5rem 0;
    height: var(--card-size);
    overflow: hidden;
    width: var(--card-size);
}


ul.card {
    align-items: flex-start;
    background: var(--background-light);
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Roboto',sans-serif;
    font-size: var(--m-font);
    height: fit-content;
    justify-content: flex-start;
    overflow: hidden;
    width: fit-content;
}


li.card-front {
    align-items: center;
    background: var(--background-light);
    color: var(--foreground-dark);
    display: flex;
    height: var(--card-size);
    padding: 1rem;
    pointer-events: none;
    text-align: left;
    text-transform: uppercase;
    width: var(--card-size);
}


li.card-back {
    align-items: center;
    background: var(--background-dark);
    color: var(--foreground-light);
    display: flex;
    font-size: var(--xs-font);
    height: var(--card-size);
    justify-content: center;
    padding: 2rem;
    pointer-events: none;
    width: var(--card-size);
}


li.card-back > p {
    align-items: center;
    flex-flow: column wrap;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    text-align: left;
}


@media screen and (max-width: 1250px) {
    .card-grid {
        display: flex;
        height: calc(var(--card-size) * 2.25);
        gap: 2rem;
        justify-content: space-evenly;
        width: calc(var(--card-size) * 2.4);
    }
}


@media screen and (max-width: 680px) {
    .card-grid {
        display: flex;
        flex-flow: column nowrap;
        height: calc(var(--card-size) * 5);
        justify-content: space-evenly;
        width: var(--viewport-width);
    }
}


/* STEPS */


.step-container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 4rem;
}


.step-grid {
    align-items: center;
    border-radius: 100rem;
    display: flex;
    flex-flow: row nowrap;
    height: 20rem;
    justify-content: space-evenly;
    width: var(--viewport-width);
}


.step-grid > img {
    max-width: 98vw;
    width: 10rem;
}


.step > h2 {
    color: var(--foreground-dark);
}


.step { /* task: use grid so that h2 stays at top and ul/p center */
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Roboto',sans-serif;
    height: 10rem;
    justify-content: flex-start;
    padding: 2.3em 1em;
    text-align: center;
}


.step > h2 {
    font-size: var(--xl-font);
    font-weight: 600;
    padding-bottom: 1.2rem;
}


.step ul, .step p {
    color: var(--foreground-dark);
    font-size: var(--m-font);
    justify-self: center;
}


.step ul {
    list-style: disc;
    padding-left: 1.4rem;
    text-align: left;
}


.step:first-of-type {
    padding-left: 3rem;
}


.step:last-of-type {
    padding-right: 3rem;
}


@media screen and (max-width: 950px) {
    .step > h2 {
        font-size: var(--m-font);
        font-weight: 600;
        padding-bottom: 1.2rem;
    }


    .step ul, .step p {
        font-size: var(--s-font);
        justify-self: center;
    }
}

@media screen and (max-width: 800px) {
    .step-grid {
        flex-flow: column nowrap;
        justify-content: space-around;
        height: fit-content;
        width: 98vw;
    }


    .step-grid > img {
        transform: rotate(90deg);
        max-width: 98vw;
        width: 10rem;
    }


    .step > h2 {
        font-size: var(--l-font);
        font-weight: 600;
        padding-bottom: 1.2rem;
    }


    .step ul, .step p {
        font-size: var(--m-font);
        justify-self: center;
    }
    
    
    
    .step {
        height: fit-content;
        max-width: 98vw;
    }

    
    .step:first-of-type {
        padding-left: 0;
        padding-top: 7rem;
    }
    
    
    .step:last-of-type {
        padding-right: 0;
        padding-bottom: 7rem;
    }


}


/* EXPERIENCE */


.exp-container {
    background: linear-gradient(45deg, var(--background-medium), var(--background-light));
}


.exp {
    align-items: center;
    color: var(--foreground-dark);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 4rem;
    width: var(--viewport-width);
}


.exp h4 {
    font-weight: 600;
}


.exp ul, .exp p {
    font-size: var(--s-font);
    padding-left: 2rem;
    width: 25rem;
}


.exp li {
    list-style: "-";
    text-align: left;
}


.exp li:first-of-type {
    list-style: none;
    margin-left: -1.5rem;
    padding-bottom: 0.8rem;
}


.bullet {
    align-self: flex-start;
    border-radius: 2rem;
    border: 0.4rem solid var(--highlight);
    height: 2rem;
    margin-right: 2rem;
    width: 2rem;
}


@media screen and (max-width: 600px) { 
    .bullet {
        display: none;
    }
}


/* CONTACT */


.contact-container {
    align-items: center;
    background: var(--background-dark);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 2rem;
    width: var(--viewport-width);
}


.contact-container > section > h2.title {
    color: var(--background-light);
}


#contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}


#subject, #message, #submit {
  grid-column: 1/3;
}


input[type="tel"],
input[type="text"],
input[type="email"],
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: var(--background-light);
    border-radius: 1rem;
    border: solid 2px transparent;
    color: var(--foreground-dark);
    font-family: 'Roboto',sans-serif;
    font-size: var(--s-font);
    outline: 0;
    padding: 1rem;
    resize: none;
    text-decoration: none;
}


input[type="tel"],
input[type="text"]:invalid,
input[type="email"]:invalid,
textarea:invalid {
    box-shadow: none;
}


input[type="tel"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: var(--foreground-dark);
    font-family: 'Roboto',sans-serif;
    font-size: var(--s-font);
}


input[type="tel"]::placeholder,
input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: var(--foreground-dark);
    font-family: 'Roboto',sans-serif;
    font-size: var(--s-font);
}


::-moz-selection, ::selection {
  background: var(--background-dark);
  color: var(--foreground-light);
}


#first, #last, #phone, #email, #subject {
  height: 4rem;
}


#first, #last, #phone, #email {
    width: 29.5rem;
}


#subject, #message {
    max-width: 98vw;
    width: 60rem;
}


#message {
    height: 30rem;
}


#submit {
    align-self: center;
    background-color: var(--background-dark);
    border: 2px solid var(--foreground-light);
    border-radius: 0.8rem;
    color: var(--foreground-light);
    height: 4rem;
    justify-self: flex-end;
    padding: 0 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
}


#submit:hover,
#submit:active {
    background: var(--background-light);
    border: 2px solid var(--foreground-light);
    color: var(--background-dark);
}


@media screen and (max-width: 800px) {
    #first,
    #last,
    #phone,
    #email,
    #subject,
    #message {
        width: 98vw;
        grid-column: 1/3;
    }


    #submit {
        grid-column: 1/3;
    }


    #message {
        height: 15rem;
    }
}


/* ANIMATIONS */


.card-front-slide-in {
	-webkit-animation: card-front-slide-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: card-front-slide-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes card-front-slide-in {
    0% {
        -webkit-transform: translateX(calc(-1 * var(--card-size)));
        transform: translateX(calc(-1 * var(--card-size)));
    }


    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


@keyframes card-front-slide-in {
    0% {
        -webkit-transform: translateX(calc(-1 * var(--card-size)));
        transform: translateX(calc(-1 * var(--card-size)));
    }


    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}



.card-front-slide-out {
	-webkit-animation: card-front-slide-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: card-front-slide-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes card-front-slide-out {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }


    100% {
        -webkit-transform: translateX(calc(-1 * var(--card-size)));
        transform: translateX(calc(-1 * var(--card-size)));
    }
}


@keyframes card-front-slide-out {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }


    100% {
        -webkit-transform: translateX(calc(-1 * var(--card-size)));
        transform: translateX(calc(-1 *  var(--card-size)));
    }
}


.card-back-slide-in {
	-webkit-animation: card-back-slide-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: card-back-slide-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes card-back-slide-in {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }


    100% {
        -webkit-transform: translateX(calc(-1 * var(--card-size)));
        transform: translateX(calc(-1 * var(--card-size)));
    }
}


@keyframes card-back-slide-in {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }


    100% {
        -webkit-transform: translateX(calc(-1 * var(--card-size)));
        transform: translateX(calc(-1 * var(--card-size)));
    }
}


.card-back-slide-out {
	-webkit-animation: card-back-slide-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: card-back-slide-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes card-back-slide-out {
    0% {
        -webkit-transform: translateX(calc(-1 * var(--card-size)));
        transform: translateX(calc(-1 * var(--card-size)));
    }


    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


@keyframes card-back-slide-out {
    0% {
        -webkit-transform: translateX(calc(-1 * var(--card-size)));
        transform: translateX(calc(-1 * var(--card-size)));
    }


    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}