/* CSS RESET
    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS HEX to use: var(--pewter-blue) */
:root{
--dark-jungle-green: #1c2321;
--pewter-blue: #7d98a1;
--black-coral: #5e6572;
--cadet-blue-crayola: #a9b4c2ff;
--cultured: #eef1efff;
}
h1,h2,h3,h4,h5,li,span,a{
    font-family: 'EB Garamond', serif;
}
body{
    width: 100%;
    font-size: 62.5%;
    background: rgb(238,241,239);
}

header, .intro, .methods, .steps, .creds, footer{
    margin: 0 0 10em 0;
    padding: 0 6em;
}
header{
    height: 6em;
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 2rem;
    float: left;
    width: fit-content;
    padding:.5em 1em .5em 0;
    border-right: 2px solid rgba(2,2,2,.2);
}
header ul{
    float: left;
    padding-left: 3em;
}
li{
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
}

.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    clear: both;
}
.intro > h1 {
    width: 40%;
    display: inline;
    padding-left: 1em;
    font-size: 2rem;
}
.intro div{
    display: inline-block;
    width: 35%;
    height: 40em;
    border: 3px solid black;
}
span, span > a{
    display: block;
    font-size: .8rem;
}
span > a{
    color: var(--dark-jungle-green);
    display: inline;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
h2{
    font-weight: 600;
    font-size: 2.4rem;
    text-align: center;
    margin: 0 0 1em;
}
h2.small{
    font-size: 1.4rem;
    margin: 0;
}
.methods > p, .statememt{
    margin: 2em;
    font-size: 1.4rem;
    text-align: center;
}
.boxTainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.boxHover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19%;
    height: 14em;
    padding: 1.5em;
    background-color: whitesmoke;
    border-radius: 5em;
    box-shadow: 0 0 4px 4px rgba(169,180,194,.6);
}
.boxHover p{
    display: none;
}
.boxHover ul{
    list-style:var(--dark-jungle-green);
    padding-left: 2em;
    display: none;
}
.cardTainer{
    display: flex;
    align-items: flex-end;
}
.card p,.creds p, .steps p{
    font-size: 1.1rem;
    line-height: 1.1;
    text-align: justify;
}
.card.circle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card div{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}
.card div.circle{
    margin-bottom: 3em;
    width: 70%;
}
.steps{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h5{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: .6em 0;
}
h2.title{
    margin-bottom: 2em;
}
.steps div{
    width: 18em;
    height: 12em;
    padding: 1em;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
.steps div.lowerM h5{
    margin-bottom: 2em;
}

button{
    padding: .75em 1.25em;
    background-color: #1c2321;
    color: #e2e2e2;
    border-radius: 1.2em;
    box-shadow: 3px 3px 2px 2px rgb(2 2 2 / 20%);
    font-size: 1.6rem;
    margin: 0 42% 4em 42%;
    font-family: 'Roboto', sans-serif;
}
/* .steps div{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 40px solid rgba(2,2,2,.2);
    border-bottom: 50px solid transparent;
} */
h4, label{
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.5em;
    text-align: center;
}
.creds, footer{
    padding-left: 10em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.creds p{
    font-size: 1.2rem;
    /* margin: 1.25em 0; */
    margin-left: 2.5em;

}
.creds li, .creds h4{
    text-align: left;
}
.creds section.exp{
    width: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin: 3em 0
}
.creds section.exp section{
    margin-left: 5em;
}
/* .creds div{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.creds .oval{
    width: 20px;
    height: 20px;
    border-radius: 3.2em;
    border: 6px solid #85afa1;
    /* background-color: aquamarine; */
}
footer {
    padding: 8em 0 ;
    margin: 0;
    background-color: #85afa1;
    /* padding: 6em 10em 10em; */
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.client{
    display: flex;
    flex-direction: column;
}
form div{
    display: flex;
    flex-direction: column;
}